<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/038b7a38fe.js" crossorigin="anonymous"></script>
<head>
    <title>TODOCOCHES</title>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><i class="fas fa-tachometer-alt"></i>
<span class="text-danger">TODO</span><span class="text-light">COCHES</span></a>
</nav>
    <meta charset="UTF-8">
</head>
<body>
    {% block contenido %}{% endblock %}

</body>
</html>